<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!-- 공통 로그 패턴 정의 -->
    <!-- %d{}: 로그 발생 시간 -->
    <!-- %X{}: MDC 값 출력 -->
    <!-- %magenta([%thread]): 실행된 스레드 이름 (컬러 포맷팅) -->
    <!-- %highlight([%-3level]): 로그 레벨 (레벨에 따라 색상 강조) -->
    <!-- %logger{}: 로거 이름 -->
    <!-- %msg: 로그 메시지 -->
    <property name="LOG_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{httpMethod}] %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n"/>

    <!-- 로그 파일 경로 설정-->
    <property name="LOG_PATH" value="\home\ec2-user\log"/>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}\application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 일별 로그 파일 생성 -->
            <fileNamePattern>${LOG_PATH}\application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="STDOUT"/> <!-- 콘솔에 출력 -->
        </root>

        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="com.study.controller" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="com.study.service" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="org.springframework.web" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <root level="DEBUG">
            <appender-ref ref="FILE"/> <!-- 파일에 로그 저장 -->
        </root>

        <!-- 예외 및 중요한 이벤트만 파일에 기록 -->
        <logger name="com.study.controller" level="INFO" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
        <logger name="com.study.service" level="INFO" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>

        <!-- SQL 로그는 배포 환경에서는 비활성화 -->
        <logger name="org.hibernate.SQL" level="OFF" additivity="false"/>
    </springProfile>

    <!-- name: 로거 이름, level: 로깅 레벨, additivity: 부모 로거에 로그를 전달할 지 여부 -->
    <!-- <appender-ref>: 이 로거에서 사용할 appender를 참조. -->
</configuration>